# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ClassHierarchy_hw.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sabao\source\repos\HW_5\Hw_7\ClassHierarchy_hw\.idea\.idea.ClassHierarchy_hw\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
